@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');

body, .card{
    background-color: #ffe0e9;
    font-family: 'Be Vietnam Pro', sans-serif;
}

h1, h2{
    font-family: 'Righteous', cursive;
}
.navbar, .footer{
    background-color: #f0b0c3;
}
.operacion{
    background-color: #D6CFCB;
}
.btn{
    background-color: #602437;
    color: #e7def0;
    border-radius: 17px;
}
.btn:hover{
    color: #e7def0;
}

#result, #num1{
    background-color: #FFF; 
    border-radius: 17px;
}
#imagen{
    max-height: 200px;
}

.output{
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    background-color: #FFF;
    border-radius: 17px;
    border: 1px solid #CED4DA;
    color: #495057;
}

.link{
    color: #212529;
}
.link:hover{
    color: #212529;
    text-decoration: none;
}

.mb-3{
   border-radius: 20px;
   border: none;
}

.col-md-8{
    display: flex;
    align-items: center;
}
.col-md-4{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img{
    width: 60%;
}